@import '../../styles/global';

.about{
    display: flex;
    color: $font-text-color-default;
    background-color: $background-default;
    padding-bottom: 12px;
    &__info{
        text-align: left;
        padding-left: 40px;
    }
    &__stuff{
        width: 900px;
        
    }
    &__image{
        flex: 1 1 50%
    }
    &__heading{
        color: $font-text-color-default;
        font-size: 36px;
        background-color: $background-default;
        margin: 0;
    }
}