@import "../../styles/global";

.header {
  background-color: $background-default;

  &__nav {
    display: flex;
    justify-content: space-between;
    @include mobile {
      flex-direction: column;
    }
  }
  &__side {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    @include mobile {
      justify-content: space-evenly;
      width: 100%;
      border-top: 2px solid $font-text-color-default;
    }
  }
  &__links {
    text-decoration: none;
    color: $font-text-color-default;
  }
  &__links:hover {
    color: $font-text-darker;
  }
  &__heading {
    margin: 0;
    font-size: 60px;
    text-align: left;
    padding-left: 40px;
    @include mobile {
      text-align: center;
      padding-left: 0px;
    }
  }
  &__link:hover {
    border-bottom: $font-text-darker solid 0.2rem;
    margin-bottom: -0.2rem;
  }
  &__link{
    margin:0 0.5rem;
  }
  &__text {
    color: #fff;
    text-align: left;
    padding-left: 40px;
    margin: 0;
    padding-bottom: 12px;
    @include mobile {
      display: none;
    }
  }
  &__about {
    margin-right: 40px;
    @include mobile {
      margin-right: 0px;
    }
  }
}
