@import '../../styles/global';

.welcome{
    background-color: $background-default;
    color: $font-text-color-default;
    padding: 0 40px;
    padding-top: 16px;
    height: 100vh;
    @include mobile {
        padding: 0 10px;
    }
    &__heading{
        margin: 0;
        font-size: 32px;
    }
    &__chartbox{
        display: flex;
        justify-content: space-evenly;
        padding-top: 32px;
    }
    &__charts{
        width: 320px;
        height: 320px;
        flex: 1 1 33%;
        @include tablet {
            width: 200px;
            height: 200px;
        }
        @include mobile {
            width: 125px;
            height: 125px;
        }

    }
    &__text{
        font-size: 21px;
        padding-top: 1rem;
        text-align: center;
    }
    &__texttwo{
        margin-top: 32px;
        display: flex;
        justify-content: space-evenly;
        font-size: 21px;
        text-align: center;
    }
    &__para1{
        flex: 1 1 33%;
    }
    &__para2{
        flex: 1 1 33%;
    }
    &__para3{
        flex: 1 1 33%;
    }
}