$font-text-color-default: #263d4d;
$background-default: #dea291;
$desktop-breakpoint: 1200px;
$tablet-breakpoint: 768px;
$font-text-darker: darken(
  $color: $font-text-color-default,
  $amount: 4.75,
);
